@import url('https://fonts.googleapis.com/css2?family=Honk&family=Sixtyfour&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url(../media/tadaima-okairi.jpg);
    background-color: rgb(0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    margin: 0;
    text-align: center;
    color: white;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.wrapper {
    max-width: max(960px, 100% - 4rem);
    margin-inline: auto;
}


h1 {
    font-size: 6rem;
    margin: 2rem 0;
    color: white;
    font-weight: normal;
    font-family: "Honk", system-ui;
}

.grid {
    max-width: 590px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid > button {
    height: 180px;
    border: 2px solid rgb(90, 57, 57);
    background: none;
    border-right: none;
    border-top: none;
}

.grid > button:nth-child(1),
.grid > button:nth-child(4), 
.grid > button:nth-child(7) {
    border-left: none;
}

.grid > button:nth-child(7),
.grid > button:nth-child(8), 
.grid > button:nth-child(9) {
    border-bottom: none;
}

.grid > button:hover {
    cursor: pointer;
    background-color: rgba(117, 82, 82, 0.247);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(255, 91, 91);
    text-decoration: underline 3px rgb(117, 0, 20);
}

a > svg {
    width: 1rem;
    margin-right: 2px;
    fill: white;
}