@import url('https://fonts.googleapis.com/css2?family=Honk&family=Sixtyfour&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Roboto, Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url(../media/tadaima-okairi.jpg);
    background-color: rgb(0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    text-align: center;
    color: white;

    min-height: 100dvh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

header {
    min-height: 50px;
}

main {
    flex: 1;
}

footer {
    min-height: 50px;
}

h1 {
    font-family: "Honk", system-ui;
    font-size: 6rem;
    color: white;
    font-weight: normal;

    margin: 2rem 0;
}

.grid {
    max-width: 590px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid > button {
    height: 180px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    background: none;
    border-right: none;
    border-top: none;

    text-shadow: 0px 1px 50px rgb(59, 59, 59);
    font-size: 4rem;
    color: #8a0b0b;
    font-weight: bold;
}

.grid > button:nth-child(1),
.grid > button:nth-child(4), 
.grid > button:nth-child(7) {
    border-left: none;
}

.grid > button:nth-child(7),
.grid > button:nth-child(8), 
.grid > button:nth-child(9) {
    border-bottom: none;
}

.grid > button:hover {
    cursor: pointer;
    background-color: rgba(117, 82, 82, 0.247);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(255, 91, 91);
    text-decoration: underline 3px rgb(117, 0, 20);
}

a > svg {
    width: 1rem;
    margin-right: 2px;
    fill: white;
}

.turn,
.winner {
    font-size: 2rem;
}

.turn {
    margin-bottom: 2rem;
    font-weight: 500;
    text-shadow: -3px 2px black;
}

.winner {
    margin-top: 2rem;
    font-weight: 300;
}

.hidden {
    display: none;
}

form {
    width: 250px;
    margin-inline: auto;

    margin-top: 11rem;
}

form > p {
    margin-bottom: 1.4rem;
    font-weight: 500;
    text-shadow: 0px 1px 10px rgb(63, 63, 63);
}

form > div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 2rem;
}

form > div > input {
    outline: none;
    border: 1px solid rgb(190, 190, 190);
    /* border-radius: 5px; */
    padding: .3rem .5rem;
}

form > div > input:focus {
    border: none;
    border-bottom: 2px solid #8a0b0b;
}

form > div > label {
    align-self: flex-start;
    margin-left: 5px;
    text-shadow: 0px 1px 10px rgb(63, 63, 63);
}
form > button {
    margin-top: .7rem;
}
button {
    /* font-weight: 500; */
    border: none;
    padding: .5rem .8rem;
}

button:hover, button:focus {
    cursor: pointer;
    color: rgb(255, 91, 91);
    box-shadow: 3px 3px 0px #8a0b0b;
    background-color: rgb(0, 0, 0);
}

#end-buttons {
    width: min(400px, 100%);
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;

}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 4rem;
    }
}